body{
    margin: 0;

}
.top{
    width: auto;
    height: 90px;
    background-color:palevioletred;

}
.nov{
    width: 1080px;
    height: 90px;
    margin: auto;
   
}
h2{
    margin: 0;
}
.logo-text{
    padding-top: 30px;
}

.logo{
    width: 200px;
    height: 90px;
 
    position: relative;
    left: 0;
}
.menu{
    color: black;
    width: 780px;
    height: 90px;

    position: relative;
    left: 300px;
    margin: -90px;
}
.booking{
    width: 200px;
    height: 90px;

    position: relative;
    left: 880px;

}
ul{
    margin: 0;
}
.menu-style li{
    display: inline-block;
    margin-top: 30px;
    
}
.menu-style li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}
.menu-style li a:hover{
    color:blue;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: brown;
    color: aliceblue;
    margin-top: 25px;
    position: absolute;
    right: 50px;
    border: 0;
}
.pic{
    width: 400px;
    height: 250px;
    
    position: relative;
    left: 680px;
    top: 170px;
}
.text{
    font-size: 20px;
    position: relative;
    top: -90px;
    left: 50px;
}
.sub{
    position: relative;
    top: -90px;
    left: 50px;
    border-radius: 25px;
    background-color: brown;
    border: 0px;
    width: 150px;
    height: 30px;
}